<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="jumbotron">

        <form action="/form" method="POST">
            Nombre: <input placeholder= "Nombre del Producto" type="text" value="nombre"/>
            <input placeholder= "Precio" type="number" value="precio"/>
            <input type="submit" value="Aceptar"/>
    </form>

      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>